body {
  font-family: Arial, sans-serif;
  background-color: #FFFFFF;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: #C41414;
  color: white;
  padding: 20px 0;
}

main {
  padding: 20px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}



